<div class="firstpage">

  <mat-toolbar class="toolbar">
    <mat-toolbar-row>
      <div class="logo">
        <img src="assets/logo.png" alt=""><br>

      </div>
      <div class="qoute">
        <span>Sustain, Scale, Inovate</span>
      </div>

      <span class="menu-spacer"></span>
      <div class="navbarcmp">
        <a mat-button [routerLink]="'/accounts'"> HOME </a>
        <a mat-button [routerLink]="'/create-account'"> ABOUT </a>
        <a mat-button [routerLink]="'/contacts'"> SERVICES </a>
        <a mat-button [routerLink]="'/create-contact'"> OUR CLIENTS </a>
        <a mat-button [routerLink]="'/activities'"> CASE STUDY </a>
        <a mat-button [routerLink]="'/create-activity'"> TESTIMONIALS </a>

      </div>
    </mat-toolbar-row>

  </mat-toolbar>
  <div class="secondbox">
    <h1>
      <span> Empower Your Vison</span>
      <span> with <b>Purpose-Driven </b></span>

      <span>Mobile App Devlopment </span>
      <span>& Digital Transformation</span>
    </h1>

    <!-- <button class="btn">Let's Get Stareted Together</button> -->
    <button class="btn">Let's Get Stareted Together</button>

  </div>
</div>